### 1. Write a function to find the Max of three numbers.

In [14]:
def maximum():
    print(max(2,50,6,10))
maximum()

50

### 2. Write a function to sum all the numbers in a list.

In [5]:
def sum_list(items):
    sum_numbers=0
    for x in items:
        sum_numbers += x
    return sum_numbers
print("sum =",sum_list([1,2,3]))

sum = 6

### 3. Write a function to multiply all the numbers in a list.

In [12]:
def product_list(items):
    product_numbers=1
    for x in items:
        product_numbers *= x
    return product_numbers
print("product = ",product_list([1,2,3,4]))

product =  24

### 4. Write a function to reverse a string.

In [10]:
msg="my name is sneha"
msg[::-1]

'ahens si eman ym'

### 5. Write a function to calculate the factorial of a number.

In [16]:
def fact():
    num=int(input("Enter any number"))
    f=1
    for i in range(1,num+1):
        f=f*i
    print(f," is the factorial value ")
fact()

Enter any number5
120  is the factorial value

### 6. Write a function that accepts a string and calculate the number of upper case letters and ower case letters.

In [17]:
def string_test(s):
    d={"UPPER_CASE":0,"LOWER_CASE":0}
    for c in s:
        if c.isupper():
            d["UPPER_CASE"]+=1
        elif c.islower():
            d["LOWER_CASE"]+=1
        else:
            pass
    print("Original string:",s)
    print("Number of upper case letters : ",d["UPPER_CASE"])
    print("Number of lower case letters : ",d["LOWER_CASE"])
string_test("joMon Is mY BrotHer")

Original string: joMon Is mY BrotHer
Number of upper case letters :  5
Number of lower case letters :  11

### 7. Write a function that takes a list and returns a new list with unique elements of the first list.

In [18]:
l=[10,10,20,30,56,20,90,56]

def remove_duplicates(list):
    newlist=[]
    
    for element in list:
        if element not in newlist:
            newlist.append(element)
            
    return newlist

print(remove_duplicates(l))

[10, 20, 30, 56, 90]